@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    &_descr {
      width: 100px;

      font-size: 7px;
      span {
        font-size: 7px;
      }
    }
  }

  .promo {
    padding: 60px 0px;
    &_logo {
      top: 50px;
    }
    &_lists {
      position: relative;
    }
    &__title {
      font-size: 22px;
    }
    &__subtitle {
      font-size: 15px;
    }
  }
  .button_promo {
    width: 200px;
    height: 50px;
  }
  .carousel {
    &_inner {
      width: 650px;

      img {
        width: 650px;
      }
    }
    .slick-prev,
    .slick-next {
      top: 10%;
      img {
        width: 15px;
        height: 50px;
      }
    }
  }

  .benefits {
    &_item {
      text-align: center;
      img {
        width: 465px;
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .promo {
    padding: 60px 0px;
    &_logo {
      top: 40px;
    }
  }
  .access {
    margin-top: 20px;
    min-height: 473px;
    padding: 20px 0 65px 0;
    &_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_items {
      margin: 15px;
    }
  }
  .solution {
    &_list {
      display: flex;
      flex-direction: column;
      width: 250px;
      align-items: center;
      padding: 20px;
    }
    hr {
      position: relative;
      transform: rotate(90deg);
      height: 50px;
      top: -0px;
      opacity: 0.5;
    }
  }
  .carousel {
    .slick-prev,
    .slick-next {
      top: 50%;
      img {
        width: 20px;
        height: 50px;
      }
    }
  }
  .benefits {
    &_content {
      display: block;
      grid-template-columns: repeat(2, 320px);
      align-items: center;
      margin: 0 auto;
    }
    &_items {
      img {
        width: 325px;
      }
    }
    &_descr {
      h3 {
        transform: translate(75%, -50%);
      }
    }
  }
  .options {
    &_wrapper {
      flex-direction: row;
    }
    &_descr {
      width: 200px;
    }
    &_subtitle {
      &_one {
        text-align: end;
      }
    }
    &-square-one {
      &:after {
        left: 150px;
        top: -180px;
      }
    }
    &-square-two {
      &:before {
        right: 150px;
        top: -180px;
      }
    }
  }
  .end {
    position: relative;
    left: 32%;
  }
  .contacts {
    &_descr {
      font-size: 14px;
      width: 200px;
    }
    &_items {
      font-size: 14px;
      a {
      }
    }
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .menu {
    &_item {
      margin: 0px 10px;
    }
    &_img {
      display: none;
    }
  }
  .promo {
    padding: 40px 0px 60px 0px;
    &_lists {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &_items {
      margin: 8px 0px;
    }
    &_descr {
      margin-top: 50px;
    }
  }
  .carousel {
    &_inner {
      width: 450px;

      img {
        width: 450px;
      }
    }
    .slick-prev,
    .slick-next {
      top: 50%;
      img {
        width: 15px;
        height: 40px;
      }
    }
  }
  .benefits {
    &_descr {
      h3 {
        transform: translate(40%, -50%);
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
